In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('../data/building-data-genome-project-2/data/weather/weather.csv')
df.head()

,timestamp,site_id,airTemperature,cloudCoverage,dewTemperature,precipDepth1HR,precipDepth6HR,seaLvlPressure,windDirection,windSpeed
0,2016-01-01 00:00:00,Panther,19.4,NaN,19.4,0.0,NaN,NaN,0.0,0.0
1,2016-01-01 01:00:00,Panther,21.1,6.0,21.1,-1.0,NaN,1019.4,0.0,0.0
2,2016-01-01 02:00:00,Panther,21.1,NaN,21.1,0.0,NaN,1018.8,210.0,1.5
3,2016-01-01 03:00:00,Panther,20.6,NaN,20.0,0.0,NaN,1018.1,0.0,0.0
4,2016-01-01 04:00:00,Panther,21.1,NaN,20.6,0.0,NaN,1019.0,290.0,1.5

In [3]:
# 将每个地区的天气数据区分开来, 保存到不同的csv文件中
unique_val = df['site_id'].unique()
for i in unique_val:
    new_df = (df[df['site_id'] == i]).reset_index(drop=True)
    new_df.to_csv(f'../data/building-data-genome-project-2/data/processing/weather/{i}.csv')
del df, new_df

In [4]:
electricity = pd.read_csv('../data/building-data-genome-project-2/data/meters/cleaned/electricity_cleaned.csv').iloc[:,1:]
electricity = electricity.loc[:, (electricity.isna().mean() < 0.05) & (electricity.mean() > 20)]
electricity.to_csv('../data/building-data-genome-project-2/data/processing/electricity.csv', index=False)

In [6]:
# 将每个建筑物的电力数据区分开来, 保存到不同的csv文件中
for val in unique_val:
    selected_columns = []
    for col in electricity.columns:
        if val in col:
            selected_columns.append(col)
    if len(selected_columns) <= 20:
        continue
    electricity_selected = electricity.loc[:,selected_columns]
    electricity_selected.to_csv(f'../data/building-data-genome-project-2/data/processing/electricity/{val}.csv', index=False)

In [14]:
ele = pd.read_csv('../data/building-data-genome-project-2/data/processing/electricity/Hog.csv').iloc[:,1:]
nan_counts = ele.isna().sum()
columns_with_nan = nan_counts[nan_counts == 0]
columns_with_nan

Hog_other_Noma            0
Hog_services_Adrianna     0
Hog_lodging_Shanti        0
Hog_education_Jordan      0
Hog_other_Tobias          0
Hog_office_Lavon          0
Hog_office_Almeda         0
Hog_office_Merilyn        0
Hog_education_Donnie      0
Hog_office_Shawnna        0
Hog_office_Valda          0
Hog_public_Kevin          0
Hog_education_Casandra    0
Hog_office_Sydney         0
Hog_office_Shawna         0
Hog_office_Miriam         0
Hog_education_Madge       0
Hog_food_Morgan           0
Hog_industrial_Quentin    0
Hog_education_Rachael     0
Hog_assembly_Colette      0
Hog_office_Napoleon       0
Hog_office_Bessie         0
Hog_office_Gustavo        0
Hog_office_Bill           0
Hog_office_Mike           0
Hog_office_Betsy          0
Hog_lodging_Ora           0
Hog_office_Mary           0
Hog_office_Shon           0
Hog_parking_Jean          0
Hog_industrial_Jeremy     0
Hog_lodging_Nikki         0
Hog_public_Octavia        0
Hog_office_Lizzie         0
Hog_office_Myles          0
Hog_education_Jewel       0
Hog_lodging_Francisco     0
Hog_assembly_Dona         0
Hog_industrial_Joanne     0
Hog_parking_Shannon       0
Hog_public_Gerard         0
Hog_office_Sherrie        0
Hog_public_Crystal        0
Hog_lodging_Hal           0
Hog_assembly_Jasmine      0
Hog_office_Denita         0
dtype: int64

In [9]:
import pandas as pd
wea = pd.read_csv('../data/building-data-genome-project-2/data/processing/weather/Hog.csv').iloc[:,1:]
ele = pd.read_csv('../data/building-data-genome-project-2/data/processing/electricity/Hog.csv')
column_name = ['timestamp', 'airTemperature', 'dewTemperature', 'windSpeed']
nan_counts = wea[column_name].isna().sum()
ele_nan = ele['Hog_education_Jordan'].isna().sum()
print(nan_counts)
print('(------------------------)')
print(ele_nan)
nan_positions = wea.index[wea['dewTemperature'].isna()]

print(nan_positions)
# columns_with_nan = nan_counts[nan_counts == 0]
# columns_with_nan

timestamp         0
airTemperature    0
dewTemperature    0
windSpeed         0
dtype: int64
(------------------------)
0
Index([], dtype='int64')